[Unit]
Description=Sense HAT Logger Service
After=network-online.target docker.service

[Service]
User=pi
WorkingDirectory=/home/pi/raspi-sense-monitor/src
ExecStart=/home/pi/raspi-sense-monitor/src/.venv/bin/python main.py
EnvironmentFile=/home/pi/raspi-sense-monitor/.env
Restart=always
# Create log directory if LOG_DIR is set
ExecStartPre=/bin/bash -c 'if [ -n "$LOG_DIR" ]; then mkdir -p "$LOG_DIR" && chown pi:pi "$LOG_DIR"; fi'

[Install]
WantedBy=multi-user.target