version: "3.8"

services:
  grafana:
    image: grafana/grafana-oss
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - ../.env
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  grafana-data: